'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'birch-doc'
      'submenu': [
        {
          'label': 'Render Atom Doc'
          'command': 'birch-doc:render-birch-doc'
        }
      ]
    ]
  }
]
